.week-2-question-text{
    font-size: 3rem;
}

@media (max-width: 1545px) {
    .week-2-question-text{
        font-size: 2.3rem;
    }
}

@media (max-width: 1063px) {
    .week-2-question-text{
        font-size: 2.3rem;
    }
}
@media (max-width: 999px) {
    .week-2-question-text{
        font-size: 2.0rem;
    }
}

@media (max-width: 480px) {
    .week-2-question-text{
        font-size: 1.45rem;
        line-height: 1.15;
    }

    .week-2-question-text-mobile{
        margin-left: 0;
    }
    .options-text{
        margin-left: 0 !important;
    }
    .options-text div{
        margin-right: 0 !important;
    }
}
